* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blue: #337ab7;
    --dark-blue: #13245d;
    --darkish-blue: #18307f;
    --black: #86888c;
    --red: #c4000e;

}

html {
    font-size: 10px;
}

//   html,body{
//       height: 100%;
//   }
body {
    line-height: 2.4rem;
}

h2 {
    line-height: 2.9rem !important;
    font-size: 2.4rem !important;
}

h3 {
    font-size: 2.4rem !important;
}

h4 {
    font-size: 2.4rem !important;
    line-height: 3rem !important;
}

img {
    display: block;
}

.heading {
    h1 {
        z-index: 1;
        text-align: center;
        padding: 3rem 0 3.7rem;
        font-size: 2.4rem !important;
        line-height: 3rem !important;
    }
}

.focus-heading,
.global-heading,
.news-heading,
.worldwide-heading {
    h1::before {
        content: ' ';
        width: 60px;
        height: 65px;
        margin-right: 0;
        margin-bottom: -3.3rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        display: inline-block;
    }
}

.news-heading {
    h1::before {
        background-image: url("../img/news-icon.svg");
    }
}

.global-heading {
    h1::before {
        background-image: url("../img/global-icon.svg");
    }
}

.focus-heading {
    h1::before {
        background-image: url("../img/focus-icon.svg");
    }
}

.worldwide-heading {
    h1::before {
        margin-bottom: -2.5rem;
        background-image: url("../img/world-icon.svg");
    }
}

a {
    color: none;
    text-decoration: none;
}

li,
ul {
    list-style-type: none;
}

button {
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 1px 1px 0 #0000003b;
    border-radius: 0.3rem !important;
    color: #ffffff;
    font-size: 1.6rem !important;
    border: none;
    outline: none;
}

.blue {
    color: var(--blue);
}

.flex {
    display: flex;
    align-items: center;
}

nav {
    // position: fixed;
    width: 100%;
    .nav {
        overflow: hidden;
        justify-content: space-between;
        background-color: #f7f7f7;
        height: 8.7rem;
        gap: 1rem;
        line-height: 1.9rem;
        .nav-logo {
            width: 50%;
            img {
                display: block;
                max-width: 35%;
                height: 8.7rem;
                margin-right: 0.8rem;
            }
            h1 {
                color: var(--black);
                font-size: 1.4rem;
                display: inline-block;
            }
        }
        .nav-list {
            display: none;
        }
        .nav-mobile {
            position: fixed;
            top: 8.7rem;
            background-color: var(--dark-blue);
            right: 0;
            display: unset;
            width: 100%;
            padding: 2rem 0;
            li {
                padding: 1.4rem 1.5rem 1.4rem 1.3rem;
                font-size: 2rem;
                border-bottom: 1px solid var(--black);
                width: 90%;
                margin: auto;
                display: block;
                a {
                    color: white;
                }
            }
        }
        .menu-div {
            .menu {
                gap: 20px;
                padding: 0 1rem 0 0;
                .nav-btn {
                    button {
                        padding: 0.8em 0.9em;
                        background-color: var(--red);
                    }
                }
                .dash {
                    width: 35px;
                    height: 40px;
                    div {
                        background-color: var(--blue);
                        height: 2px;
                        width: 35px;
                        margin-top: 8px;
                    }
                }
                .cancel {
                    position: relative;
                    width: 35px;
                    height: 20px;
                    div {
                        position: absolute;
                    }
                    div:nth-child(1) {
                        transform: rotate(45deg);
                    }
                    div:nth-child(2) {
                        opacity: 0;
                    }
                    div:nth-child(3) {
                        transform: rotate(-45deg);
                    }

                }
            }
        }
    }

}

.container {
    max-width: 1100px;
    width: 90%;
    margin: auto;
    padding: 2rem 0 3.5rem;
    img {
        width: 100%;
    }
}

.max-width {
    max-width: 1300px;
    margin: auto;
}

// .children{
//     padding-top: 8.7rem;
// }

.about,
.media {
    height: 100vh;
    background-color: #2e3858;
    color: white;
}

header {
    .carousel {
        height: 100%;
        .img {
            img {
                width: 100%;

                display: block;
            }
        }

    }
}

.news {
    background-color: #f2f2f2;
    overflow: hidden;
    .background-heading {
        position: relative;
        h1 {
            font-size: 270px;
            position: absolute;
            color: #fcfcfc;
            left: 10%;
            transform: translateX(-20%);
            top: -50px;
            text-align: center;
            margin: 0;
            padding: 0;
            z-index: -1;
        }
    }
    .news-btn {
        margin: 3rem 0;
        text-align: center;
        button {
            padding: 1.2rem 2em;
            background-color: var(--darkish-blue);
        }
    }
}

.lists {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    .list {
        background-color: white;
        box-shadow: 1.1rem 1.1rem 2.1rem 0 #0000001c;
        .list-text {
            padding: 2rem;
            line-height: 3rem;
        }
        .list-date {
            border-top: 2px solid rgb(235, 235, 235);
            padding: 1.5rem;
            p {
                font-size: 1.4rem;
            }
        }

    }
}

.global {
    img {
        width: 100%;
    }
        .global-carousel {
            .list {
                .list-img {
                    position: relative;
                    .list-text {
                        position: absolute;
                        width: 50%;
                        bottom: 50px;
                        transform: translateX(40%);
                        h1 {
                            font-size: 4.6rem;
                            line-height: 4rem;
                            color: white;
                            font-weight: 800;
                        }
                    }
                }
            }
        }
        .global-btn {
            text-align: center;
            display: flex;
            justify-content: center;
            gap: 1rem;
            width: 95%;
            margin: 3rem auto;
            button:nth-child(1) {
                background-color: var(--red);
            }
            button {
                font-size: 1.6rem;
                text-align: center;
                padding: 1.2em 0.7em;
                background-color: var(--darkish-blue);
            }
        }
}

.focus {
    padding-bottom: 4rem;
    .focus-grid {
        .focus-grid-1 {
            margin: 3rem 0;
            .focus-text {
                box-shadow: 1.1rem 1.1rem 2.1rem 0 #0000001c;
                padding: 4rem 2rem;
                h2 {
                    border-bottom: 1px solid var(--black);
                    padding-bottom: 1.5rem;
                }
                p {
                    font-size: 1.8rem;
                    margin: 1.5em 0 1rem;
                }
                a {
                    font-size: 1.8rem;
                    color: var(--blue);
                }
            }

        }
        @media (min-width : 400px) {
            .lists {
                .list {
                    display: flex;
                    .list-img {
                        width: 50%;
                        img {
                            height: 100%;
                        }
                    }
                    .list-text {
                        width: 50%;
                    }
                }
            }
        }
    }
}

.mission {
    line-height: 1.1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20rem 0;
    .mission-text {
        text-align: center;
        width: 90%;
        margin: auto;
        color: white;
        h1 {
            font-size: 4.2rem;
        }
        h3 {
            font-size: 2.1rem;
            margin: 1.5rem 0 4rem;
        }
        button {
            background-color: var(--red);
            padding: 1em 2.8em;
        }
    }
}

.impact {
    .lists {
        .list {
            box-shadow: none;
            text-align: center;
            img {
                width: 150px;
                margin: auto;
            }
            .list-text {
                h2 {
                    font-size: 3rem;
                    margin-bottom: 2.5rem;
                }
                p {
                    margin-bottom: 2.3rem;
                    font-size: 1.8rem;
                }
                button {
                    font-size: 1.4rem;
                    padding: 0.4em 1.4em;
                    color: black;
                }
            }
        }
    }
}

.worldwide {
    background-color: #f2f2f2;
    .lists {

        .list {
            box-shadow: none;
            position: relative;
            .list-img {
                position: relative;
                &::before {
                    content: ' ';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 80%;
                    background-image: linear-gradient(to top, rgba(2, 2, 2, 0.8) , rgba(255, 255, 255,0));
                }
                img {
                    width: 100%;
                    height: 40vh;
                    object-fit: cover;
                    @media (min-width : 400px) {
                        height: 65vh;
                    }
                }
                .list-text {
                    position: absolute;
                    bottom: 0;
                    color: white;
                    h2 {
                        font-size: 3rem;
                        line-height: 3.6rem;
                        font-weight: 800;
                    }
                    p {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}

footer {
    h3 {
        margin-bottom: 1.4rem;
        font-size: 1.6rem;
    }
    p {
        color: #9ca6c8;
        font-size: 1.4rem;
        margin-top: 1rem;
    }
    .caf {
        background-color: var(--darkish-blue);
        h3 {
            color: #ffffff;
        }
        .caf-items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 5rem;
            width: 85%;
            padding: 2.5rem 0;
            .text-max {
                max-width: 45%;
            }
            .footer-logo {
                display: none;
            }
            ul {
                .tel {
                    font-size: 1.4rem;
                    margin: 1.4rem 0;
                }
                li {
                    list-style-type: circle;
                    font-size: 1.4rem;
                    color: white;
                    margin: 1rem 0 0 1rem;
                }
            }
            .follow {
                .icons {
                    display: flex;
                    gap: 1rem;
                    i {
                        font-size: 2.5rem;
                        color: var(--black);
                    }
                }
            }
        }
    }
    .foot {
        background-color: var(--dark-blue);
        padding: 2.5rem 0;
        h3 {
            color: var(--blue);
        }
        .foot-items {
            width: 85%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1rem;
            .foot-item {
                details {
                    border-bottom: 1px solid #42507d;
                    position: relative;
                    summary {
                        list-style: none;
                        font-size: 1.5rem;
                        color: var(--blue);
                        font-weight: 600;
                        margin: 1rem 0;
                    }
                }
                details summary::after {
                    position: absolute;
                    right: 0;
                    content: '↓';
                }
                details[open] summary::after {
                    content: '↑';
                }
                ul {
                    li {
                        list-style-type: circle;
                        margin: 1rem 0 0 1rem;
                        color: #9ca6c8;
                        font-size: 1rem;
                        border-bottom: 1px solid #42507d;
                        padding-bottom: 1rem;
                    }
                }
            }
        }

    }
}

@media screen and (min-width : 720px) {
    .container {
        width: 87%;
    }

    nav{
        .nav{
            .nav-logo{
                line-height: 2.4rem;
                h1{
                    font-size: 2.5rem;
                }
            }
        }
        
    }

    .news {
        // .lists{
        //     display: flex;
        //     flex-direction: column;
        //     gap: 30px;
        //     .list{
        //         box-shadow: 1.2rem .8rem 2rem rgb(212, 212, 212);
        //         .list-text{
        //             padding: 4rem 1.5rem;
        //         }
        //         .list-date{
        //             border-top: 2px solid rgb(235, 235, 235);
        //             padding: 1.5rem 1.5rem;
        //             p{
        //                 font-size: 1.4rem;
        //             }
        //         }

        //     }
        // }
        .news-btn {
            text-align: right;
        }
        .lists {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            .list {
                width: 47%;
            }
        }
    }

    .focus {
        .focus-grid {
            box-shadow: 3rem 3rem 0 1rem #0000001c;
            .focus-grid-1 {
                display: flex;
                .focus-img {
                    width: 50%;
                    img {
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .focus-text {
                    width: 50%;
                    padding: 4rem 3rem;
                }
            }
            .lists {
                flex-direction: row;
                background-color: #E3E3E3;
                .list {
                    box-shadow: none;
                    position: relative;
                    display: flex;
                    .list-img {
                        width: 100%;
                    }
                    .list-text {
                        position: absolute;
                        width: 100%;
                        h3 {
                            font-size: 2.1rem;
                            color: white;
                            line-height: 1.2;
                        }
                    }
                }
            }
        }
    }


    .mission {
        .mission-text {
            text-align: left;
            width: 85%;
        }
    }

    .impact {
        .lists {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    

    .worldwide {
        .lists {
            margin-bottom: -14rem;
            box-shadow: 3rem 3rem 0 1rem #efefef;
            display: grid;
            grid-template-areas:
                'first secound'
                'first third'
            ;
            gap: 1rem;   
            .list:nth-child(1){
                grid-area: first; 
                .list-img{
                    img{
                        height: 96.3vmin;
                    }
                }
            }
            .list:nth-child(2){
                grid-area: secound; 
            }
            .list:nth-child(3){
                grid-area: third; 
            }
            .list {
                background-color: transparent;
                .list-img {
                    position: relative;
                    // width: 43vw;
                    img {
                        height: 47vmin;
                    }
                }
            }
        }
    }

    .partners{
        padding-top: 14rem;
    }
    // .lists {
    //     flex-direction: row;
    //     flex-wrap: wrap;
    //     .list {
    //         width: 47%;
    //     }
    //   }
    footer {
        h3 {
            font-size: 1.6rem;
        }
        .caf {
            .caf-items {
                .text-max {
                    max-width: 25%;
                }
                .footer-logo {
                    display: block;
                }
            }
        }
        .foot {
            .foot-items {
                flex-direction: row;
                .foot-item {
                    ul {
                        li {
                            list-style-type: circle;
                            margin: 1rem 0 0 1rem;
                            color: #9ca6c8;
                            font-size: 1.1rem;
                            border-bottom: 1px solid #42507d;
                            padding-bottom: 1rem;
                        }
                    }
                }
            }
        }
    }

}

@media screen and (min-width : 1000px) {
    .container {
        width: 90%;
    }

    nav {
        .nav {
            .nav-logo {
                width: 25%;
                align-items: flex-end;
            }
            .nav-list {
                display: flex;
                width: 50%;
                gap: 2rem;
                li {
                    font-size: 1.7rem;
                    a {
                        color: #000000;
                    }
                }
            }
            .nav-mobile {
                display: none;
            }
            .menu-div {
                .menu {
                    .nav-btn {
                        button {
                            font-size: 1.5rem;
                        }
                    }
                    .dash {
                        display: none;
                    }
                }
            }
        }

    }

    .news {
        // .lists{
        //     display: flex;
        //     flex-direction: column;
        //     gap: 30px;
        //     .list{
        //         box-shadow: 1.2rem .8rem 2rem rgb(212, 212, 212);
        //         .list-text{
        //             padding: 4rem 1.5rem;
        //         }
        //         .list-date{
        //             border-top: 2px solid rgb(235, 235, 235);
        //             padding: 1.5rem 1.5rem;
        //             p{
        //                 font-size: 1.4rem;
        //             }
        //         }

        //     }
        // }
        .news-btn {
            text-align: right;
        }
        .lists {
            flex-direction: row;
            flex-wrap: wrap;
            .list {
                width: 31%;
            }
        }
    }
}
